<div class="banner">
  <p class="main-text">WHO WE<span class="red-text"> ARE</span></p>
  <div class="divider-cont">
    <div class="white-divider"><mat-divider></mat-divider></div>
  </div>

  <div class="container">
    <p>
      <span class="red-text">Ek Zaria</span> is an Initiative by
      <span class="red-text">We Do Not Accept Money or Things.</span> Its core
      objective is to act as a bridge between the underprivileged and the donors
      or volunteers who seek to make a positive impact. Run by the people, for
      the people. <span class="red-text">Ek Zaria</span> strives to unite these
      two ends and bring about a positive change in society.
    </p>
    <br />
    <p class="red-text heading-text">WHAT IS THIS WEBSITE FOR?<br /></p>
    <p>
      The website serves as a platform where information about the patients in
      need of medical assistance is provided. All patient profiles listed on the
      website are verified in person by the NGO to ensure authenticity and
      transparency. Donors can browse through the patient profiles and select
      the ones they want to contribute to. This platform helps bridge the gap
      between patients in need and donors who want to make a difference.
    </p>
    <button mat-raised-button color="warn" (click)="openModal()">
      Play Video!
    </button>
  </div>
</div>
