<footer>
  <div class="container">
    <div class="column">
      <p class="pathway-font">GET IN TOUCH</p>
      <p class="red-divider"><mat-divider></mat-divider></p>
      <p>
        <mat-icon color="warn">email</mat-icon
        ><a href="mailto:ekzaria@gmail.com"> ekzaria@gmail.com</a>
      </p>
      <p>
        <mat-icon color="warn">smartphone</mat-icon> +91 788 916 8849, +91 968
        800 0074
      </p>
      <p>
        <mat-icon color="warn">location_on</mat-icon>Model Town, Ludhiana,
        Punjab, India (141001)
      </p>
    </div>

    <div class="column">
      <p class="pathway-font">SOCIAL MEDIA</p>
      <p class="red-divider"><mat-divider></mat-divider></p>
      <p>
        <img src="/assets/images/facebook.png" alt="facebook" class="image" />
        <a
          href="https://www.facebook.com/wedonotacceptmoneyorthings"
          target="_blank"
        >
          Facebook</a
        >
      </p>
      <p>
        <!-- <mat-icon color="warn">youtube</mat-icon -->
        <img src="/assets/images/youtube.png" alt="youtube" class="image" />
        <a
          href="https://www.youtube.com/channel/UCE90F9_Pwlj97gA9AbArbow"
          target="_blank"
        >
          Youtube</a
        >
      </p>
      <p>
        <img src="/assets/images/instagram.png" alt="instagram" class="image" />
        <a href="https://www.instagram.com/officialekzaria/" target="_blank">
          Instagram</a
        >
      </p>
    </div>
  </div>

  <p class="regular-divider-cont">
    <mat-divider class="regular-divider"></mat-divider>
  </p>
  <p class="white-text">
    Copyright &copy; 2023 <span class="red-text">| Ek Zaria |</span> All Rights
    Reserved.
  </p>
</footer>
