<div class="banner">
  <p class="main-text">CONT<span class="red-text">ACT</span></p>
  <div class="divider-cont">
    <div class="white-divider"><mat-divider></mat-divider></div>
  </div>

  <div class="container white-text">
    <div class="column">
      <img
        src="/assets/images/location.jpg"
        alt="facebook"
        class="location-img"
      />
    </div>
    <div class="column">
      <div class="sub-column">
        <p>Fill out the form to get in touch with us:</p>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput required maxlength="40" />
          <mat-error>Please enter your name</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput maxlength="40" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput maxlength="15" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Why do you want to join?</mat-label>
          <textarea matInput required maxlength="300"></textarea>
        </mat-form-field>

        <div class="button-cont">
          <button mat-raised-button color="primary" class="button">
            Submit
          </button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="sub-column">
        <p>
          <mat-icon color="warn">email</mat-icon
          ><a href="mailto:ekzaria@gmail.com"> ekzaria@gmail.com</a>
        </p>
        <br />
        <p>
          <mat-icon color="warn">smartphone</mat-icon> +91 788 916 8849 <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 968 800 0074
        </p>
        <br />
        <p>
          <mat-icon color="warn">location_on</mat-icon>Model Town, Ludhiana
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Punjab, India (141001)
        </p>
        <p class="small-divider"><mat-divider></mat-divider></p>
        <br />
        <div class="social-media">
          <a
            href="https://www.facebook.com/wedonotacceptmoneyorthings"
            target="_blank"
          >
            <img
              src="/assets/images/facebook.png"
              alt="facebook"
              class="image"
            />
          </a>
          <a
            href="https://www.youtube.com/channel/UCE90F9_Pwlj97gA9AbArbow"
            target="_blank"
          >
            <img src="/assets/images/youtube.png" alt="youtube" class="image" />
          </a>
          <a href="https://www.instagram.com/officialekzaria/" target="_blank">
            <img
              src="/assets/images/instagram.png"
              alt="instagram"
              class="image"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
