<div class="banner">
  <div class="container">
    <div class="big-text">
      <span class="red-text">Let's Heal The World Together </span>
      <span class="white-text">And Make It A Better Place</span>
    </div>

    <div class="small-text">
      <span class="white-text"
        >Many underprivileged people struggle to sustain their lives, with their
        only hope for survival being the support of those who are more
        privileged. If you are in a position to help, we invite you to
        join</span
      >
      <span class="red-text" style="font-weight: bold"> Ek Zaria </span
      ><span class="white-text"
        >as a donor or volunteer. Please register with us and help make a
        difference in the lives of those who need it most.</span
      >
    </div>
    <div class="button-cont">
      <a href="/patients">
        <button mat-button class="main-button">Help Now!</button></a
      >
      <a href="/join">
        <button mat-button class="main-button">Join Us!</button></a
      >
    </div>
  </div>
</div>
