.big-text {
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  font-family: "Pathway Gothic One", sans-serif;
}
.small-text {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
}
.red-text {
  color: #ff0000;
}

.white-text {
  color: #ffffff;
}
body {
  font-family: "Pathway Gothic One", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 15rem;
}

.banner {
  background-image: url("/assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
}
.button-cont {
  justify-content: center;
  display: flex;
  margin-top: 5rem;
}
.main-button {
  background-color: red;
  border-radius: 2rem;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 20px 32px;
  margin-right: 4rem;
}
